.venv/
venv_matplotlib/
.vscode/
build/
dist/
exe/
installer/
note/
prototype/
pyinstaller/
v2/
SkillMacro.spec
testCodes/
app/__pycache__/
app/utils/__pycache__/
not_used_resources/
upx/

requirements_m.txt
requirements_temp.txt
LICENSE.txt